pkgbase = minecraftd
	pkgdesc = Minecraft server daemon script, unit files, and official jar
	pkgver = 1.20.4
	pkgrel = 1
	url = https://minecraft.net/
	arch = any
	license = custom
	depends = bash
	depends = java-runtime-headless>=16
	conflicts = minecraft-canary
	conflicts = minecraft-server
	conflicts = minecraft-server-systemd
	conflicts = minecraft-server-manager
	noextract = minecraft_server.1.20.4.jar
    source = https://github.com/arcmags/minecraftd/archive/1.0.0.tar.gz"
	source = mcserver.1.20.4.jar::https://launcher.mojang.com/v1/objects/8dd1a28015f51b1803213892b50b7b4fc76e594d/server.jar
    md5sums = 8009fb5c8485d85c4eedffd1c2d4ea17
    md5sums = f57b897c9b81255a518b9e474e5c57d7
pkgname = minecraftd
