pkgbase = minecraftd
	pkgdesc = Minecraft server daemon script, unit files, and official jar
	pkgver = 1.20.4
	pkgrel = 1
	url = https://minecraft.net/
	arch = any
	license = custom
	depends = java-runtime-headless>=16
	conflicts = minecraft-canary
	conflicts = minecraft-server
	conflicts = minecraft-server-systemd
	conflicts = minecraft-server-manager
	noextract = minecraft_server.1.20.4.jar
	source = mcserver.1.20.4.jar::https://launcher.mojang.com/v1/objects/8dd1a28015f51b1803213892b50b7b4fc76e594d/server.jar
	source = minecraftd.tar.zst
    md5sums = f57b897c9b81255a518b9e474e5c57d7
    md5sums = SKIP
pkgname = minecraftd
