[Unit]
Description=minecraft server
After=local-fs.target network.target

[Service]
Type=forking
User=minecraft
Group=minecraft
ExecStart=/usr/bin/minecraftd start
ExecStop=/usr/bin/minecraftd stop

[Install]
WantedBy=multi-user.target

; vim:ft=systemd
